:root {
    --bg-dark: #242423;
    --bg-light: #333533;
    --fg-light: #E8EDDF;
    --callout: rgb(255, 255, 102);
    --callout-dark: #101010;
  }
  
  * {
      font-size: 14px;
  }
  
  html, body, main {
      background-color: var(--bg-dark);
      color: #fff;
      font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
      font-weight: 400;
      text-shadow: rgb(77, 81, 86) 0px 0px 0px;
      height: 100%;
      overflow: hidden;
  }
  
  main {
      display: flex;
  }
  
  button:hover:not(.active) {
      filter: brightness(1.15);
      cursor: pointer;
  }
  
  #sidebar {
      flex: 3 30%;
      display: flex;
      flex-direction: column;
      overflow: auto;
      background-color: transparent;
      margin-bottom: 20px;
      border-right: 2px solid #373737;
  }
  
  #room-list {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex: 1;
  }

  #your-rooms {
    font-size: 24px;
  }
  
  #sidebar button {
      background: var(--bg-dark);
      color: var(--fg-light);
      padding: 20px;
      overflow: hidden;
      border-radius: 10px;
      margin-top: 10px;
      font-size: 16px;
      border: 2px solid var(--bg-light);
      width: 90%;
  }
  
  #sidebar button.active {
      background: var(--bg-light);
      color: var(--fg-light);
      font-weight: bold;
      z-index: 10;
      border: 2px solid var(--bg-dark);
  }
  
  #content {
      flex: 7 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
  }
  
  .message {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
  }
  
  .message:last-child {
      padding-bottom: 20px;
  }
  
  .message .username {
      font-weight: bold;
      padding-bottom: 5px;
      color: var(--callout);
      font-size: 20px;
  }
  
  #messages {
      padding: 10px 20px;
      flex: 1;
  }
  
  form#new-message {
      bottom: 0;
      position: sticky;
      flex: 0 0 auto;
      width: 100%;
  }
  
  form {
      display: flex;
      border-top: 2px solid #242424;
  }
  
  form * {
      height: 40px;
      background: var(--fg-light);
      color: var(--bg-dark);
  }
  
  input {
      padding: 0 10px;
      background-color: var(--callout-dark);
      color: var(--fg-ligh);
      border: none;
      margin-left: 10px;
  }
  
  input:focus {
      outline: 0;
      filter: brightness(1.05);
  }
  
  input#username {
      text-align: left;
      border-radius: 10px;
      width: 150px;
      background: transparent;
      border: 2px solid #373737;
      margin-left: 10px;
      color: var(--fg-light);
  }
  
  input#message {
    text-align: left;
    border-radius: 10px;
    width: 100%;
    background: transparent;
    border: 2px solid #373737;
    margin-left: 10px;
    color: var(--fg-light);
    margin-bottom: 20px;
  }
  
  form button {
      display: none;
  }
  
  #new-room {
    background: transparent;
  }

  #new-room input:focus {
      filter: brightness(1.2);
  }
  
  #new-room input {
    text-align: left;
    border-radius: 10px;
    width: 90%;
    background: var(--bg-dark);
    border: 2px solid #373737;
    margin-left: 10px;
    color: var(--fg-dark);
  }
  
  #status {
      padding: 10px;
      text-align: center;
      font-size: 16px;
      border-radius: 10px;
      width: 90%;
  }
  
  #status.pending::before {
    content: "Connected";
  }
  
  #status.pending {
      background-color: yellow;
      color: #000;
  }
  
  #status.connected::before {
    content: "Connected";
  }
  
  #status.connected {
      background-color: green;
      color: #fff;
  }
  
  #status.reconnecting::before {
    content: "Reconnecting";
  }
  
  #status.reconnecting {
      background-color: red;
      color: #fff;
  }